aiobotocore
aiofiles
aiohttp
asyncio
boto3
cachetools
ccxt # =1.88.18
cryptography
cufflinks
docker
fonttools
frozenlist
hvac
ipykernel
lru-dict
matplotlib
nest-asyncio
numpy
nbformat
openpyxl
pandas
plotly
pyarrow
python-dateutil
python-dotenv
python-telegram-bot
requests
retry
s3fs
scikit-learn
scipy
seaborn
web3
yarl
